<div class="w3-top" ng-controller="userAuthCtrl">
    <div class="w3-bar w3-white w3-card-2" id="myNavbar">
        <a href="#home" class="w3-bar-item w3-button w3-wide">ГЛАВНАЯ</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
            <a href="#commentCinema" class="w3-bar-item w3-button"> ОТЗЫВЫ</a>
            <div class="w3-dropdown-hover">
                <button class="w3-bar-item w3-button" title="Notifications">ЛИЧНЫЙ КАБИНЕТ <i
                        class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a ng-click="goToUserEdit()" class="w3-bar-item w3-button">МОЙ АККАУНТ</a>
                    <a ng-click="logout()" class="w3-bar-item w3-button">ВЫХОД</a>
                </div>
            </div>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
    </div>
</div>
<div class="content" ng-controller="userAuthCtrl">
    <h1>MyStock</h1>
    <br>
    <div class="tab">
        <button class="tablinks redbutton" ng-click="goToUserIndicators()">Моя компания</button>
        <button class="tablinkstwo" ng-click="goToUserAcceptance()">Приёмка</button>
        <button class="tablinks" ng-click="goToUserShipment()">Отгрузки</button>
        <button class="tablinks" ng-click="goToUserCommodity()">Товары</button>
    </div>
    <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <div class="tabt">
            <button class="tablinks" ng-click="goToUserIndicators()">Показатели</button>
            <button class="tablinkstwo redbutton" ng-click="goToUserCompany()">Юр. лица</button>
            <button class="tablinks" ng-click="goToUserStock()">Склады</button>
        </div>
        <br>
        <h1>Юридические лица</h1>
        <br>
        <div class="w3-padding-32">
            <div class="w3-bar w3-border">
                <a ng-click="goToUserAddCompany()" class="w3-bar-item w3-button w3-light-green">Добавить</a>
                <a href="#" class="w3-bar-item w3-button">Краткое наименование</a>
                <a href="#" class="w3-bar-item w3-button">Код</a>
                <a href="#" class="w3-bar-item w3-button">Email</a>
                <input class="w3-right w3-hide-small" type="text" name="search" placeholder="Search by name only..">
            </div>
        </div>
        <div ng-controller="companyCtrl">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Краткое наименование</th>
                    <th>Код</th>
                    <th>Телефон</th>
                    <th>email</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="company in companyList">
                    <th>{{company.companyName}}</th>
                    <th>{{company.taxpayerNumber}}</th>
                    <th>{{company.telephone}}</th>
                    <th>{{company.email}}</th>
                    <th><a ng-click="deleteSafeCinemaShow($index)"> <img src = "res/close-icon.png" class="shrink" width="20" align="center"></a></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>



